.yellow {
  background-color: #f8f9fa;
}
.nav-bar {
  background-color: yellow;
}
video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.vidoe_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}
.vidoe_content h1 {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid white;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
  color: white;
}
.Link {
  text-decoration: none;
  color: white;
}
.Link:hover {
  color: yellow;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.borders {
  border-radius: 15px;
}
.card_Link {
  color: black;
  text-decoration: none;
}
.card_move {
  transition: transform 0.5s;
}
.card_move:hover {
  transform: translateY(-10px);
}
/* card data  */
.card_data {
  position: absolute;
  top: 5px;
  right: 210px;
}
